@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
bpdy,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.react-datepicker__input-container input {
  border-radius: 20px;
  text-align: center;
  padding: 4px 0;
  background-color: none;
  border: 0;
}